body {
    margin: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

h1 {
    font-family: "Lucida Console", "Courier New";
    font-size: 30px;
    color: #262626;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #27272a;
    width: 300px;
    height: 340px;
}


table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    
    border: 2px solid #18181b; /* Tabeli rakkude piirjooned */
}

th {
    background-color: #0369a1;
    border: 1px solid black;
    color: #f4f4f5;
    font-weight: bold; /* Teksti paksus */
    padding: 10px;
    text-align: left; /* Joondus vasakule */
}

td {
    padding: 10px;
    border: 1px solid #27272a; /* Tabeli rakkude piirjooned */
}
